* {
    box-sizing: border-box;
}

body {
    background-color:crimson;
    margin:0;
    font-family: 'Cormorant Garamond', serif;
}

.content-box {
    background-color:azure;
    width:200px;
    height:200px;
    padding:30px;
    border:10px solid lightcoral;
    margin:50px;
}

.border-box {
    background-color:azure;
    width:200px;
    height:200px;
    padding:30px;
    border:10px solid lightcoral;
    margin:50px;
    box-sizing:border-box;
}

.circle {
    background-color:blueviolet;
    width:300px;
    height:300px;
    padding:50px;
    border-radius:100% 100% 0 0;
}
