* {
    box-sizing: border-box;
}

body {
    background-color:slateblue;
    cursor:grab;
    display:flex;
}
ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    margin-bottom: 10px; 
}

li { 
    margin: 5px; 
    padding: 5px; 
    width: 100px; 
}
main {
    display:flex;

}
.container {
    width:100vw;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid blue;
}

.assertion {
    flex-direction:column;
}

.options {
    width:75vw;
    height:500px;
    display:flex;
    flex-direction: row;
    border: 1px solid black;
}
.draggable {

}

.sortable {
    
}

.column {
    width:1000px;
    height:500px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}