@font-face {
    font-family: heartfont;
    src: url(heartfont.ttf);
}
* {
    box-sizing: border-box;
    font-family: heartfont;
}

body {
    background-color:slateblue;
    cursor:grab;
    display:flex;
    font-size: 30px;
}

main {
    display:flex;
}
ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    margin-bottom: 10px; 
}
li { 
    margin: 5px; 
    padding: 5px; 
    width: 150px; 
}

.opinion {
    width:20vw;
    height:50vh;
    position:fixed;
    top: 40px;
    left:20px;
    flex-direction: row;
}

.options {
    width: 1200px;
    height:2000px;
    position:relative;
    top: 30px;
    left:200px;
    flex-direction: row;
    column-count:3;
}
