@font-face {
    font-family: yoster;
    src: url(yoster.ttf);
}

*{
    box-sizing: border-box;
    font-family: yoster
}

body {
    background-color:black;
    color:goldenrod;
    font-size: 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:50px;
}

.title {
    background-color:beige;
    background-image: url(welcome.png);
    width:1010px;
    height: 370px;
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
    border-radius: 50px;
    
}

.art {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:20px;

}
