@font-face {
    font-family: yoster;
    src: url(yoster.ttf);
}

*{
    box-sizing: border-box;
    font-family: yoster
}

body {
    background-color:black;
    color:antiquewhite;
    font-size: 100px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.title {
    background-color:beige;
    display:flex;
    border: solid 10px crimson;

}
.art {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

p   {
    border-radius: 5px;
}